@import "base-mixins/_all.scss";
@import "base-variables/_all.scss";

:global {
  .nitro-panel-group {
    .panel {
      box-shadow: none;
    }

    .panel-heading {
      padding: 6px 16px;
      border-color: $sky;

      .panel-title {
        flex-grow: 1;

        .title, .icon-title {
          color: $ink-light;
          font-size: $font-size-base;
        }

        .icon-title {
          margin-right: 10px;
        }
      }
    }

    .panel-toggle {
      display: flex;
      align-items: baseline;
    }

    .icon-toggle {
      color: $ink-lightest;
      transition: all 0.5s ease;
      margin-left: 16px;
    }

    .panel-collapsed {
      background-color: $sky-lighter;
    }
  }
}