@import "base-mixins/_all.scss";
@import "base-variables/_all.scss";

:global {
  .nitro-panel-group {
    .panel {
      box-shadow: none;

      .panel-heading {
        background-color: $white;
      }
    }

    &.inner-panel-group {
      .panel {
        box-shadow: 0 0px 9px rgba(0, 0, 0, 0.1);
      }

      .panel.panel-collapsed {
        box-shadow: none;

        .panel-heading {
          background-color: $sky-lighter;
        }
      }
    }

    .panel-heading {
      padding: 0;
      border-color: $sky;

      .heading-icon {
        margin-right: 15px;
      }

      .panel-title {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      .heading-icon, .title, .subtitle {
        color: $ink-light;
      }

      .title {
        font-size: $font-size-base;
      }

      .subtitle {
        font-size: $font-size-small;
      }
    }

    .panel-toggle {
      display: flex;
      padding: 6px 16px;
      align-items: center;
    }

    .icon-toggle {
      color: $ink-lightest;
      transition: all 0.5s ease;
      margin-left: 16px;
    }
  }
}