.flip-container {
  perspective: 1000px;
}

.flip {
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.flap {
  transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
}
