@import "../base-mixins/all";
@import "../base-variables/all";
$slideout-menu-width: 200px;
$slideout-menu-item-height: 40px;
$slideout-menu-icon: 50px;
$slideout-menu-text: 150px;
$slideout-menu-border: rgba($ink-lightest, $opacity-3);


.sidebar-loading {
  margin: 10px;
  text-align: center;
}

.sidebar-nav {
  position: relative;
  background: $power-navy-dark;
}

#sub-nav-sidebar {
  width: $slideout-menu-width;
  display: block;
  border-left: 1px solid $slideout-menu-border;
  .subnav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    li a {
      color: $white;
      display: block;
      font-size: $font-small;
      border-radius: $border-rad-light;
      padding:  ($space-smallest + 1px) $space-base;
      margin: $space-base;
      &:hover {
        background: shade($power-navy-dark, 10%);
      }
      &.active {
        background: $power-royal;
        font-weight: $bold;
      }
    }
  }
}

// Collapse state
#main-nav-sidebar {
  &.collapse-main-nav {
    .full-menu li a span, .collapser span {
        display: none;
    }
    .collapser .full-menu-icon.fa-angle-left {
      display: none;
    }
    .collapser .full-menu-icon.fa-angle-right {
      display: block;
    }
  }
}

// Collapse button
.collapser {
  @include clearfix;
  border-bottom: 1px solid $slideout-menu-border;
  display: block;
  &:hover {
    border-bottom: 1px solid $slideout-menu-border;
  }
  .full-menu-icon.fa-angle-right {
    display: none;
  }
  span, .full-menu-icon {
    display: block;
    float: left;
    height: $slideout-menu-item-height;
  }
  span {
    width: $slideout-menu-text;
    color: $ink-lightest;
    font-size: $font-small;
    line-height: $slideout-menu-item-height;
  }
  .full-menu-icon {
    width: $slideout-menu-icon;
    line-height: $slideout-menu-item-height;
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    font-size: $font-large;
    color: $ink-lightest;
  }
}



.full-menu {
  @include title-font;
  bottom: 0;
  list-style: none;
  overflow-y: auto;
  padding: 0;
  top: 0;
  z-index: 10000;
  li {
    a {

      color: $white;
      display: block;
      font-size: $font-small;
      margin: 0;
      position: relative;
      transition-property: color, border-color, background-color;
      transition-duration: 0.15s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

      i.full-menu-icon {
        display: inline-block;
        width: $slideout-menu-icon;
        height: $slideout-menu-item-height;
        line-height: $slideout-menu-item-height;
        float: left;
        transition-property: color;
        transition-duration: 0.15s;
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        font-size: $font-large;
        color: $ink-lightest;
      }
      span {
        display: inline-block;
        width: $slideout-menu-text;
        height: $slideout-menu-item-height;
        line-height: $slideout-menu-item-height;
        float: left;
        @include text-truncate;
      }
      span.badge {
        display: block;
        float: right;
        font-size: 90%;
        line-height: 1.1em;
        border-radius: $border-rad-mega;
        position: relative;
        z-index: 1;
      }
      i.full-menu-caret {
        border-top-color: $ink;
        float: none;
        margin: none;
        position: absolute;
        right: 5px;
        top: 12px;
        font-size: 17px;
      }

      &:hover {
        background: shade($power-navy-dark, 10%);
        i.full-menu-icon {
          color: $white;
        }
      }
      &.active {
        background: $power-royal;
        font-weight: $bold;
        @include smooth-font;
        i.full-menu-icon {
          color: $white;
        }
      }
    }

    &.active {
      a, a:hover {
        -webkit-box-shadow: inset 0px 2px 5px 0px #bfbfbf;
        box-shadow: inset 0px 2px 5px 0px #bfbfbf;
        background: #e5e5e5;
        background: -moz-linear-gradient(top, #e5e5e5 0%, #f5f5f5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f5f5f5));
        background: -webkit-linear-gradient(top, #e5e5e5 0%,#f5f5f5 100%);
        background: -o-linear-gradient(top, #e5e5e5 0%,#f5f5f5 100%);
        background: -ms-linear-gradient(top, #e5e5e5 0%,#f5f5f5 100%);
        background: linear-gradient(to bottom, #e5e5e5 0%,#f5f5f5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f5f5f5',GradientType=0 );
      }
    }

    /* VACATION STYLE */
    &.corporate-trip {
      a {
        background: #fffdd5;
        background: -moz-linear-gradient(top, #fffdd5 1%, #eee100 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fffdd5), color-stop(100%,#eee100));
        background: -webkit-linear-gradient(top, #fffdd5 1%,#eee100 100%);
        background: -o-linear-gradient(top, #fffdd5 1%,#eee100 100%);
        background: -ms-linear-gradient(top, #fffdd5 1%,#eee100 100%);
        background: linear-gradient(to bottom, #fffdd5 1%,#eee100 100%);
        border-bottom: 1px solid #ffcd3c;
        border-right: 1px solid #ffcd3c;
        color: $power-red;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdd5', endColorstr='#eee100',GradientType=0 );
      }
    }
    /* END VACATION STYLE */
  }

  /* collapsable menu items */
  .panel-collapse {
    li {
      a {
        background: $ink-light;
        border-bottom: none;
        color: $sky-light;
        padding: 5px 15px;

        i {
          font-size: 70%;
          left: 20px;
          top: 11px;
        }
      }
      a:hover {
        -webkit-box-shadow: none;
        background: $ink-lighter;
        box-shadow: none;
        color:$white;
        filter: none;
      }
    }
  }

}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 3000px) {
  .row-offcanvas {
    position: relative;
    left: 0; /* for firefox */
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    transition: all .4s ease-out;
    web-transition: width 1s;

    &.active {
      #header {
        left: $slideout-menu-width;
        right: -$slideout-menu-width;
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        transition: all .4s ease-out;
        web-transition: width 1s;
      }
    }
}

  .row-offcanvas-right .sidebar-offcanvas { right: -$slideout-menu-width; }
  .row-offcanvas-left  .sidebar-offcanvas { left: -$slideout-menu-width;  }

  .row-offcanvas-right.active { right: $slideout-menu-width; }
  .row-offcanvas-left.active  { left: $slideout-menu-width;  }

  .sidebar-offcanvas { position: absolute; top: 0; width: $slideout-menu-width; z-index: 10000; }
}
