

html, body {
  height: 100%;
}

// Potential Class Helpers

$md-col: 250px;
.md-col {
  width: $md-col !important;
}

.o-1 {
  order: 1 !important;
}

.scroll-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  flex: auto;
}


@import "layouts/sidebar";
