@import "base-variables/_colors.scss";
@import "base-variables/_spacing.sass";
@import "base-variables/_border-radius.sass";
@import "base-variables/_typography.sass";

.step-meter {
  list-style-type: none;
  padding: 0 $space-base;
  margin: 0;

  li {
    background: $sky;
    border-radius: $border-rad-heavy*2;
    color: $ink-light;
    font-size: $font-smallest;
    font-weight: 400;
    display: inline-block;
    height: 18px;
    line-height: 20px;
    margin: 0 $space-smaller;
    min-width: 80px;
    padding: 0 $space-smallest;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &::before {
      content: '';
      background: $sky;
      position: absolute;
      height: 4px;
      left: -10px;
      right: 0;
      top: calc(50% - 2px);
      width: 10px;
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    &.done,
    &.done::before {
      background: $power-green;
    }
    &.started,
    &.started::before {
      background: $power-blue;
    }

    &.done,
    &.started {
      color: white;
    }

    span {
      &:first-child {
        margin-right: $space-smallest/2;
      }
    }
  }
}
