@import "base-variables/_colors.scss";
@import "base-variables/_spacing.sass";
@import "base-variables/_typography.sass";

@mixin tab($orient: "horizontal") {
  @if $orient == "horizontal" {
    float: left;
  }
  color: $ink-lightest;
  cursor: pointer;
  font-weight: $bold;
  padding: $space-base $space-large;
  &-active {
    border-bottom: 6px solid $power-royal;
    color: $ink-dark;
  }
}

.tab {
  @include tab;
}

.tabAnchor {
  @include tab;
}